modules = ["nodejs-20"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "EXPO_NO_DOTENV=1 npx expo start --web --port 5000 --host lan"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3002

[deployment]
deploymentTarget = "autoscale"
run = ["npx", "expo", "start", "--web", "--port", "5000", "--host", "lan", "--no-dev"]
build = ["npm", "install"]

[userenv]

[userenv.shared]
EXPO_PUBLIC_FIREBASE_API_KEY = "AIzaSyCks6RFyYcJPf_r48RCDpNzc_YuZfwp9Vs"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN = "fitlife-2741f.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID = "fitlife-2741f"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET = "fitlife-2741f.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "972031286539"
EXPO_PUBLIC_FIREBASE_APP_ID = "1:972031286539:web:41d05871d9a210216f560e"
EXPO_PUBLIC_GROQ_KEY = "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"
